* {
  margin: 0;
}

.-center {
  text-align: center;
}

button:hover {
  background-color: orange;
  transform: scale(1.3);
  transition: 1.1s;
}

.bt {
  background-color: #E6F2B4;
  color: rgb(10, 10, 152);
  padding: 17px 29px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  margin-left: 190px;
  margin-top: 10px;
  margin-bottom: 320px;
}

.center {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.bolo {
  width: 90%;
  margin: auto;
  padding: 25px 0px;
  align-items: center;
}
.bolo .dr {
  width: 14%;
}

.bi {
  background-color: #FEF8F1;
  padding-top: 100px;
}
.bi h1 {
  font-size: 70px;
  color: #0B4A72;
  text-align: center;
}
.bi h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.bi .ab {
  position: absolute;
  width: 90%;
  top: 380px;
}

.l {
  font-size: 55px;
  color: #0B4A72;
  margin-top: 200px !important;
  margin-bottom: 100px;
}

.kk {
  width: 31%;
  color: #0B4A72;
}

.text {
  width: 31%;
  background-color: #FEF8F1;
}

.text {
  width: 31%;
  background-color: #FEF8F1;
}

.text {
  width: 31%;
  background-color: #FEF8F1;
}

.img {
  margin-left: 100px !important;
}

.vi {
  width: 80%;
  margin: auto;
  margin-top: 300px;
  align-items: center;
  margin-bottom: 80px;
}
.vi .kivi {
  color: #0B4A72;
  width: 40%;
}
.vi .kivi h2 {
  font-size: 37px;
  margin-bottom: 40px;
}
.vi .kivi h3 {
  color: gray;
}
.vi .kivi img {
  width: 100%;
}

.o {
  color: rgba(0, 0, 0, 0.6980392157);
}

.er {
  font-size: 60px;
  color: #0B4A72;
  margin-top: 100px;
  margin-bottom: 50px;
}

.eg {
  width: 85%;
  margin: auto;
  align-items: center;
  margin-top: 250px;
  justify-content: space-between;
}
.eg .ke {
  width: 43%;
}
.eg .ke .m {
  color: #0B4A72;
  font-size: 60px;
}
.eg .ke .m1 {
  color: rgba(0, 0, 0, 0.6980392157);
  margin-top: 30px;
  font-size: 28px;
}

.q {
  width: 30%;
  margin: auto;
  margin-top: 200px;
  color: #0B4A72;
}
.q .q1 {
  font-size: 55px;
  margin-bottom: 100px;
}
.q h2 {
  margin-top: 30px;
}

.be {
  background-color: rgba(206, 247, 209, 0.2117647059);
  position: absolute;
  top: 450vh;
}
.be .ss {
  margin-left: 1330px;
}

.fr {
  width: 80%;
  margin: auto;
  margin-top: 500px;
}
.fr .kef {
  width: 45%;
}
.fr .kef h1 {
  color: #0B4A72;
  font-size: 58px;
  margin-bottom: 150px;
}
.fr .kef h2 {
  margin-top: 8px;
}

.bas {
  background-color: #FFFAF4;
  padding: 60px 0px 0px 0px;
  margin-top: 20px;
}
.bas h1 {
  color: #0B4A72;
  font-size: 75px;
  margin-top: 120px;
}
.bas .bt1 {
  margin-left: -20px;
  margin-bottom: 0px;
  margin-top: 60px;
}

.map {
  color: #0B4A72;
}

.map {
  color: rgba(0, 0, 0, 0.6980392157);
}

.okh {
  background-color: #FFFAF4;
  padding: 150px 0px 0px 0px;
  justify-content: space-around;
  color: #0B4A72;
}
.okh .kh {
  width: 45%;
}
.okh .bh {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.okh .dx {
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.okh .dx img {
  height: 30px;
}

.jh {
  width: 85%;
  padding: 0px 7%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #FFFAF4;
  padding-top: 170px;
  color: gray;
}

.lk {
  padding: 40px 0px;
  margin-left: 90px;
  display: flex;
  gap: 60px;
}/*# sourceMappingURL=kod.css.map */